.tecnologias {
  margin: 0 auto;
  width: 80%;
}

.contenedor-tecnologias {
  border-top: 1px solid $bl;
  @include grid(1, 3rem);

  .texto-tecnologias {
    .contenedor-imgs {
      display: grid;
      margin-top: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
      grid-auto-rows: auto;
      gap: 1rem;
      @include tablet {
        grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
      }

      .tecnologia {
        width: 100%;
        aspect-ratio: 1;
        background: $gc;
        position: relative;
        overflow: hidden;
        border-radius: 1rem;
        img {
          width: 100%;
          aspect-ratio: 1;
          object-fit: cover;
        }
        .tecnologia-name {
          @include flex(column);
          top: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          transform: translateY(100%);
          background-color: rgba(0, 0, 0, 0.9);
          transition: all 0.3s linear;
        }
        &:hover {
          .tecnologia-name {
            transform: translateY(0%);

            p {
              font-size: 12px;
              letter-spacing: 1px;
            }
          }
        }
      }
    }
  }
}
