//media queries
@mixin telefono {
    @media (max-width: $telefono) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: $desktop) {
        @content;
    }
}
@mixin grid($columnas, $espacio) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espacio;
}

@mixin flex($direccion) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direccion;
}
