// colores base
$mo: #1b003a;
$mc: #4b0081;
$ml: #4a0fec;
$ng: black;
$bl: white;
$gc: #c8c8c8;
$go: #7a7a7a;

//dispositivos
$telefono: 480px;
$tablet: 768px;
$desktop: 1100px;
//fuente
$fuente: "Patrick Hand", cursive;
//url img
$url: "../../img/foto_yo.jpg";
