@import "./utility/normalize";
@import "./utility/variables";
@import "./utility/mixins";
@import "./layout/header";

html {
    box-sizing: border-box;
    font-family: "Patrick Hand", cursive;
}
* {
    box-sizing: border-box;
}
