@import "./utility/normalize";
@import "./utility/variables";
@import "./utility/mixins";
@import "./layout/header";
@import "./layout/proceso";
@import "./layout/tecnologias";
@import "./layout/proyectos";
@import "./layout/footer";

html {
  box-sizing: border-box;
  font-family: "Patrick Hand", cursive;
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
section {
  margin-top: 3rem !important;
}
p {
  color: $bl;
}
h1,
h2,
h3,
h4 {
  color: $ml;
  text-align: center;
}
h3 {
  font-size: 2rem;
}
h2 {
  font-size: 2rem;
}

span {
  color: $bl;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: $bl;
}
